body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  color:#181C14 ;
}

header {
  text-align: center;
}

h1 {
  color: #181C14;
}

h2 {
  color: #3C3D37;
}
h3 {
  color: #697565;
}
ul {
  list-style-type: disc;

}
strong{
  color: #697565;
}
footer {
  text-align: center;
  margin-top: 20px;
  
}
a{
  color: #1E5128;
  text-decoration: none;
}